flows.json
[
  {
    "id": "mqtt-broker",
    "type": "mqtt-broker",
    "name": "Local Mosquitto",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "nodered-industrial-monitor",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true
  },
  {
    "id": "tab-main",
    "type": "tab",
    "label": "Wellhead Monitor",
    "disabled": false,
    "info": "Import this flow in Node-RED (Manage Palette → MQTT nodes required)."
  },
  {
    "id": "mqtt-in-telemetry",
    "type": "mqtt in",
    "z": "tab-main",
    "name": "Telemetry",
    "topic": "wellhead/WH-001/telemetry",
    "qos": "1",
    "datatype": "json",
    "broker": "mqtt-broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 130,
    "y": 120,
    "wires": [["fn-parse", "ui-chart"]]
  },
  {
    "id": "mqtt-in-alerts",
    "type": "mqtt in",
    "z": "tab-main",
    "name": "Alerts",
    "topic": "wellhead/WH-001/alerts",
    "qos": "1",
    "datatype": "json",
    "broker": "mqtt-broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 120,
    "y": 220,
    "wires": [["fn-alert", "ui-notification"]]
  },
  {
    "id": "fn-parse",
    "type": "function",
    "z": "tab-main",
    "name": "Extract sensor values",
    "func": "const s = msg.payload.sensors || {};\nmsg.payload = [\n  { key: 'pressure', value: s.pressure?.value, unit: s.pressure?.unit },\n  { key: 'temperature', value: s.temperature?.value, unit: s.temperature?.unit },\n  { key: 'flow_rate', value: s.flow_rate?.value, unit: s.flow_rate?.unit },\n  { key: 'vibration', value: s.vibration?.value, unit: s.vibration?.unit }\n];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 360,
    "y": 120,
    "wires": [["debug-sensors"]]
  },
  {
    "id": "fn-alert",
    "type": "function",
    "z": "tab-main",
    "name": "Format alert",
    "func": "const a = msg.payload;\nmsg.topic = `ALERT/${a.severity}`;\nmsg.payload = `${a.message} (${a.value} ${a.unit})`;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 340,
    "y": 220,
    "wires": [["debug-alerts"]]
  },
  {
    "id": "debug-sensors",
    "type": "debug",
    "z": "tab-main",
    "name": "Sensor readings",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 590,
    "y": 120,
    "wires": []
  },
  {
    "id": "debug-alerts",
    "type": "debug",
    "z": "tab-main",
    "name": "Threshold alerts",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 580,
    "y": 220,
    "wires": []
  }
]
